*{
  margin: 0;
  padding: 0;
}
.App{
  width: 100%;
}

@media (max-width: 1400px) {
    .container{
      width: 1320px;
      margin: 0 auto;
    }
 }
 @media (max-width: 1200px) {
  .container{
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 992px) { 
  .container{
    width: 992px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) { 
  .container{
    width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) { 
  .container{
    width: 420px;
    margin: 0 auto;
  }
}